pkgbase = zfs-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2018.08.23.r4692.g55972a672
	pkgrel = 1
	url = http://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms-git
	license = CDDL
	makedepends = git
	depends = zfs-utils-common-git=2018.08.23.r4692.g55972a672
	depends = lsb-release
	depends = dkms
	provides = zfs
	conflicts = zfs-dkms
	conflicts = spl-dkms-git
	conflicts = zfs-archiso-linux
	conflicts = zfs-archiso-linux-git
	conflicts = zfs-linux-hardened
	conflicts = zfs-linux-hardened-git
	conflicts = zfs-linux-lts
	conflicts = zfs-linux-lts-git
	conflicts = zfs-linux
	conflicts = zfs-linux-git
	conflicts = zfs-linux-vfio
	conflicts = zfs-linux-vfio-git
	conflicts = zfs-linux-zen
	conflicts = zfs-linux-zen-git
	conflicts = zfs-archiso-linux-headers
	conflicts = zfs-archiso-linux-git-headers
	conflicts = zfs-linux-hardened-headers
	conflicts = zfs-linux-hardened-git-headers
	conflicts = zfs-linux-lts-headers
	conflicts = zfs-linux-lts-git-headers
	conflicts = zfs-linux-headers
	conflicts = zfs-linux-git-headers
	conflicts = zfs-linux-vfio-headers
	conflicts = zfs-linux-vfio-git-headers
	conflicts = zfs-linux-zen-headers
	conflicts = zfs-linux-zen-git-headers
	replaces = spl-dkms-git
	source = git+https://github.com/zfsonlinux/zfs.git#commit=55972a6724ca49d98d67a47fe0f0b28ad21260d5
	source = upstream-ac09630-Fix-zpl_mount-deadlock.patch
	source = upstream-9f64c1e-Linux-4.18-compat-inode-timespec_timespec64.patch
	source = upstream-9161ace-Linux-compat-4.18-check_disk_size_change.patch
	sha256sums = SKIP
	sha256sums = 1799f6f7b2a60a23b66106c9470414628398f6bfc10da3d0f41c548bba6130e8
	sha256sums = 03ed45af40850c3a51a6fd14f36c1adc06501c688a67afb13db4fded6ec9db1d
	sha256sums = afbde4a2507dff989404665dbbdfe18eecf5aba716a6513902affa0e4cb033fe

pkgname = zfs-dkms-git

