pkgbase = zfs-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2018.09.18.r4729.g145c88fb7
	pkgrel = 1
	url = http://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms-git
	license = CDDL
	makedepends = git
	depends = zfs-utils-common-git=2018.09.18.r4729.g145c88fb7
	depends = lsb-release
	depends = dkms
	provides = zfs
	provides = zfs-headers
	provides = spl
	provides = spl-headers
	conflicts = zfs
	conflicts = zfs-headers
	conflicts = spl
	conflicts = spl-headers
	replaces = spl-dkms-git
	source = git+https://github.com/zfsonlinux/zfs.git#commit=145c88fb7bfb7e5941a0994daa3d9f4401a167a1
	sha256sums = SKIP

pkgname = zfs-dkms-git

